.social-item {
  fill: #fff;

  &._tg {
    width: 27px;
    height: 22px;
  }

  &._vk {
    width: 30px;
    height: 19px;
  }
}

.icon-close {
  width: 28px;
  height: 28px;
}


.chevron-up {
  width: 18px;
  height: 18px;
  fill: #828282;
}

@media screen and (max-width: 767px) {
  .social-item {
    fill: #fff;

    &._tg {
      width: 21px;
      height: 17px;
    }

    &._vk {
      width: 23px;
      height: 14px;
    }
  }
}