:root {
  --container-width: 1280px;

  @media (max-width: 1349px) {
    --container-width: 984px;
  }

  @media (max-width: 1023px) {
    --container-width: 728px;
    --container-padding: 20px;
  }

  @media (max-width: 767px) {
    --container-width: 100%;
    --container-padding: 20px;
  }

  @media (max-width: 479px) {
    --container-padding: 12px;
  }

  --font-main: Montserrat,
  sans-serif;
  --main-color: #403E3F;
  --gray-color: #828282;
  --black-color: #120D0F;
  --red-color: #C0235C;
  --red-hover-color: #9F0E42;
  --white-color: #FFF;
  --light-pink-color: #FFFAFC;
  --light-pink-color2: #FFEBF3;
  --base-transition: all .3s ease;
}