@font-face {
  src: local("Montserrat"), url("/assets/fonts/Montserrat-light.woff2") format("woff2"), url("/assets/fonts/Montserrat-light.woff") format("woff"), url("/assets/fonts/Montserrat-light.ttf") format("ttf"), url("/assets/fonts/Montserrat-light.eot") format("eot");
  font-family: "Montserrat";
  font-style: "normal";
  font-weight: 300;
}

@font-face {
  src: local("Montserrat"), url("/assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("/assets/fonts/Montserrat-Regular.woff") format("woff"), url("/assets/fonts/Montserrat-Regular.ttf") format("ttf"), url("/assets/fonts/Montserrat-Regular.eot") format("eot");
  font-family: "Montserrat";
  font-style: "normal";
  font-weight: 400;
}

@font-face {
  src: local("Montserrat"), url("/assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("/assets/fonts/Montserrat-Medium.woff") format("woff"), url("/assets/fonts/Montserrat-Medium.ttf") format("ttf"), url("/assets/fonts/Montserrat-Medium.eot") format("eot");
  font-family: "Montserrat";
  font-style: "normal";
  font-weight: 500;
}

@font-face {
  src: local("Montserrat"), url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("/assets/fonts/Montserrat-SemiBold.ttf") format("ttf"), url("/assets/fonts/Montserrat-SemiBold.eot") format("eot");
  font-family: "Montserrat";
  font-style: "normal";
  font-weight: 600;
}

@font-face {
  src: local("Montserrat"), url("/assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("/assets/fonts/Montserrat-Bold.woff") format("woff"), url("/assets/fonts/Montserrat-Bold.ttf") format("ttf"), url("/assets/fonts/Montserrat-Bold.eot") format("eot");
  font-family: "Montserrat";
  font-style: "normal";
  font-weight: 700;
}

/* Reset and base styles  */

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  background: var(--bg-color);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture img,
picture source {
  width: 100%;
  display: block;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

.desc-figure {
  fill: #DDD;
  width: 210px;
  height: 66px;
  position: absolute;
  right: -200px;
  bottom: 0;
}

.benefits-svg {
  width: 146px;
  height: 146px;
  fill: var(--accent-color);
}

.services-svg {
  width: 84px;
  height: 84px;
  fill: var(--accent-color);
}

.whatsapp {
  width: 42px;
  height: 42px;
  fill: #fff;
}

.telegram {
  width: 42px;
  height: 42px;
}

.email-icon,
.phone-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.arrow-slider {
  width: 49px;
  height: 49px;
  fill: var(--accent-color);
  background: #fff;
  display: block;
  padding: 12px 12px;
}

:root {
  --container-width: 1210px;
  --container-padding: 50px;
  --font-main: Montserrat, Arial, sans-serif;
  --light-color: #F2F2F2;
  --bg-color: #fff;
  --text-color: #0A1938;
  --accent-color: #C60000;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.about__title-h2 {
  color: var(--text-color);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 802px;
}

.about__title-h3 {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
}

.about__text p {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
}

@media screen and (max-width: 1365px) {
  .desc-figure {
    width: 146px;
    height: 46px;
    right: -140px;
  }

  .benefits-svg {
    width: 110px;
    height: 110px;
  }

  .whatsapp {
    width: 40px;
    height: 40px;
  }

  .telegram {
    width: 40px;
    height: 40px;
  }

  .about__title-h2 {
    font-size: 40px;
    width: 636px;
  }

  .about__title-h3 {
    font-size: 18px;
  }

  .about__text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .arrow-slider {
    width: 60px;
    height: 60px;
    padding: 14px;
  }
}

@media screen and (max-width: 767px) {
  .desc-figure {
    display: none;
  }

  .benefits-svg {
    width: 60px;
    height: 60px;
  }

  .services-svg {
    width: 70px;
    height: 70px;
  }

  .whatsapp {
    width: 28px;
    height: 28px;
  }

  .telegram {
    width: 28px;
    height: 28px;
  }

  .email-icon,
  .phone-icon {
    width: 14px;
    height: 14px;
  }

  .arrow-slider {
    width: 37px;
    height: 37px;
    background: var(--accent-color);
    fill: #fff;
    padding: 10px;
  }

  .about__title-h2 {
    font-size: 24px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  :root {
    --container-padding: 15px;
  }
}