@font-face {
  src: local("Montserrat"), url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/Montserrat-Regular.ttf") format("ttf"), url("../assets/fonts/Montserrat-Regular.eot") format("eot");
  font-family: "Montserrat";
  font-style: "normal";
  font-weight: 400;
}

@font-face {
  src: local("Unbounded"), url("../assets/fonts/Unbounded-Regular.woff2") format("woff2"), url("../assets/fonts/Unbounded-Regular.woff") format("woff"), url("../assets/fonts/Unbounded-Regular.ttf") format("ttf"), url("../assets/fonts/Unbounded-Regular.eot") format("eot");
  font-family: "Unbounded";
  font-style: "normal";
  font-weight: 400;
}

@font-face {
  src: local("Unbounded"), url("../assets/fonts/Unbounded-Medium.woff2") format("woff2"), url("../assets/fonts/Unbounded-Medium.woff") format("woff"), url("../assets/fonts/Unbounded-Medium.ttf") format("ttf"), url("../assets/fonts/Unbounded-Medium.eot") format("eot");
  font-family: "Unbounded";
  font-style: "normal";
  font-weight: 500;
}

/* Reset and base styles  */

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  background: var(--bg-color);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture img,
picture source {
  width: 100%;
  display: block;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
  position: relative;
}

.social-item {
  fill: #fff;
}

.social-item._tg {
  width: 27px;
  height: 22px;
}

.social-item._vk {
  width: 30px;
  height: 19px;
}

.icon-close {
  width: 28px;
  height: 28px;
}

.chevron-up {
  width: 18px;
  height: 18px;
  fill: #828282;
}

:root {
  --container-width: 1280px;
  --font-main: Montserrat,
  sans-serif;
  --main-color: #403E3F;
  --gray-color: #828282;
  --black-color: #120D0F;
  --red-color: #C0235C;
  --red-hover-color: #9F0E42;
  --white-color: #FFF;
  --light-pink-color: #FFFAFC;
  --light-pink-color2: #FFEBF3;
  --base-transition: all .3s ease;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}

.page__title-h2 {
  color: var(--black-color);
  font-family: Unbounded;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.page__title-h3 {
  color: var(--black-color);
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.page__text {
  color: var(--main-color);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(64, 62, 63, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
}

.overlay.active {
  display: block;
}

.footer {
  position: relative;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 36px;
  -moz-column-gap: 36px;
  column-gap: 36px;
  margin-bottom: 50px;
}

.footer__social-item {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: #C0235C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.footer__social-item:hover {
  background: #9F0E42;
}

.footer__adress {
  width: 498px;
  margin-bottom: 30px;
}

.footer__adress p {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}

.footer__phone a {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__mail {
  margin-top: 30px;
}

.footer__mail a {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  margin: 100px 0 50px;
}

.footer__legal a {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
}

.footer__copyright a {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__content {
  position: relative;
  height: 694px;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__map {
  position: absolute;
  top: 0;
  right: 0;
  width: 740px;
  height: 694px;
}

.footer__map img {
  border-radius: 200px 0px 0px 0px;
}

.footer__line {
  height: 14px;
  background: #C0235C;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 2px;
  border: px solid var(--red-color);
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  background: rgba(64, 62, 63, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.overlay.active {
  display: block;
}

@media (max-width: 1349px) {
  :root {
    --container-width: 984px;
  }
}

@media screen and (max-width: 1349px) {
  .page__text {
    font-size: 16px;
  }

  .footer__content {
    left: 20px;
  }

  .footer__map {
    width: 418px;
    height: 694px;
  }

  .footer__map img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media (max-width: 1023px) {
  .container {
    margin: 0 auto;
    padding: 0;
  }

  :root {
    --container-width: 728px;
    --container-padding: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .page__title-h2 {
    font-size: 34px;
  }

  .page__title-h3 {
    font-size: 28px;
  }

  .page__text {
    font-size: 14px;
  }

  .footer__content {
    height: 555px;
    max-width: 728px;
    left: 0;
  }

  .footer__map {
    width: 341px;
    height: 555px;
  }

  .footer__map img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .footer__social {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-bottom: 40px;
  }

  .footer__adress {
    width: 354px;
    margin-bottom: 20px;
  }

  .footer__adress p {
    font-size: 16px;
  }

  .footer__phone a {
    font-size: 16px;
  }

  .footer__mail {
    margin-top: 20px;
  }

  .footer__mail a {
    font-size: 16px;
  }

  .footer__legal {
    margin: 80px 0 40px;
  }

  .footer__legal a {
    font-size: 14px;
  }

  .footer__copyright {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .footer__copyright a {
    font-size: 14px;
  }

  .footer__line {
    height: 3px;
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
  }

  :root {
    --container-width: 100%;
    --container-padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .social-item {
    fill: #fff;
  }

  .social-item._tg {
    width: 21px;
    height: 17px;
  }

  .social-item._vk {
    width: 23px;
    height: 14px;
  }

  .page__title-h2 {
    font-size: 30px;
  }

  .page__title-h3 {
    font-size: 24px;
  }

  .footer__content {
    height: 570px;
    max-width: 100%;
    top: 30px;
    -webkit-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    transform: translateY(-22px);
  }

  .footer__info {
    margin-left: 20px;
  }

  .footer__map {
    width: 230px;
    height: 570px;
  }

  .footer__map img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .footer__social {
    -webkit-column-gap: 18px;
    -moz-column-gap: 18px;
    column-gap: 18px;
    margin-bottom: 46px;
  }

  .footer__social-item {
    width: 35px;
    height: 35px;
  }

  .footer__adress {
    width: 210px;
  }

  .footer__adress p {
    font-size: 14px;
  }

  .footer__phone a {
    font-size: 14px;
  }

  .footer__mail a {
    font-size: 14px;
  }

  .footer__legal {
    margin: 90px 0 30px;
    row-gap: 8px;
  }

  .footer__legal a {
    font-size: 12px;
  }

  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 8px;
  }

  .footer__copyright a {
    font-size: 12px;
  }

  .footer__line {
    height: 8px;
  }
}

@media (max-width: 479px) {
  :root {
    --container-padding: 12px;
  }
}

@media screen and (max-width: 479px) {
  .footer__content {
    height: 473px;
    max-width: 100%;
    top: 50px;
    -webkit-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    transform: translateY(-42px);
  }

  .footer__info {
    margin-left: 12px;
  }

  .footer__map {
    width: 168px;
    height: 473px;
  }

  .footer__map img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .footer__social {
    margin-bottom: 40px;
  }

  .footer__adress {
    width: 130px;
  }

  .footer__adress p {
    font-size: 12px;
  }

  .footer__phone a {
    font-size: 12px;
  }

  .footer__mail a {
    font-size: 12px;
  }

  .footer__legal {
    width: 130px;
    margin: 40px 0;
  }

  .footer__legal a {
    font-size: 11px;
  }

  .footer__copyright a {
    font-size: 11px;
  }
}