.header-content {
  position: absolute;
  z-index: 5;
}

.header__link {
  color: #120D0F;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding: 23px 0;
}

.header__text {
  display: block;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.header__text--hidden {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.promo {
  margin-bottom: 110px;
  position: relative;
}

.promo__content {
  position: relative;
  height: 920px;
  max-width: 1280px;
  margin: 0 auto;
}

.promo-img-outer {
  position: absolute;
  top: 0;
  right: 0;
  width: 631px;
  height: 100%;
}

.promo-img {
  width: 100%;
  height: 100%;
}

.promo-info {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.promo-info__title p {
  color: #120D0F;
  font-family: Unbounded;
  font-size: 92px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}

.promo-info__box {
  margin: 100px 0 50px;
  width: 502px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 12px;
}

.promo-info__date {
  color: #C0235C;
  font-family: Unbounded;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.promo-info__adress {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.promo-info__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 24px;
}

.promo-info__btn {
  width: 509px;
  height: 65px;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 52px;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.promo-info__btn._red {
  border: 1px solid #120D0F;
  background: #C0235C;
  color: #FFF;
}

.promo-info__btn._red:hover {
  background: #9F0E42;
}

.promo-info__btn._white {
  border: 1px solid #C0235C;
  background: #FFFAFC;
  color: #C0235C;
}

.promo-info__btn._white:hover {
  background: #FFEBF3;
}

.tickets {
  margin-bottom: 170px;
}

.tickets__title {
  margin-bottom: 14px;
}

.tickets__text {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.tickets__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px;
}

.tickets__caption {
  margin-bottom: 20px;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.tickets__point {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.tickets__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 45px;
}

.tickets__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin-bottom: 20px;
}

.tickets__price-new {
  color: #120D0F;
  font-family: Unbounded;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.tickets__price-old {
  color: #403E3F;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: line-through;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.tickets__btn {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 52px;
  border: 1px solid #120D0F;
  background: #C0235C;
  height: 65px;
  width: 100%;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.tickets__item {
  border-radius: 4px;
  border: 1px solid #120D0F;
  background: #FFF;
  padding: 40px;
  height: 521px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.tickets__item._large {
  width: 730px;
}

.tickets__item._small {
  width: 510px;
}

.tickets__item:hover {
  border-radius: 60px 4px 4px 4px;
  background: #C0235C;
}

.tickets__item:hover .tickets__caption,
.tickets__item:hover .tickets__point,
.tickets__item:hover .tickets__price-new,
.tickets__item:hover .tickets__price-old {
  color: #FFF;
}

.tickets__item:hover .tickets__btn {
  background: #FFF;
  color: #C0235C;
}

.speakers {
  margin-bottom: 170px;
}

.speakers__title {
  text-align: center;
}

.speakers__content {
  margin: 50px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 40px;
}

.speakers-item {
  width: 248px;
  height: 556px;
  overflow: hidden;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.speakers-item__img {
  margin-bottom: 20px;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.speakers-item__img img {
  border-radius: 4px;
  border: 1px solid #120D0F;
  max-height: 370px;
  min-height: 370px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.speakers-item__name {
  color: #120D0F;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 12px;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.speakers-item__desc {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.speakers-item:hover .speakers-item__img img {
  border-radius: 60px 4px 4px 4px;
  -webkit-filter: unset;
  filter: unset;
}

.speakers-item:hover .speakers-item__name {
  color: #C0235C;
}

.speakers__btn {
  width: 377px;
  height: 65px;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 52px;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
}

.speakers__btn._red {
  border: 1px solid #120D0F;
  background: #C0235C;
  color: #FFF;
}

.speakers__btn._red:hover {
  background: #9F0E42;
}

.speakers__btn._white {
  border: 1px solid #C0235C;
  background: #FFFAFC;
  color: #C0235C;
}

.speakers__btn._white:hover {
  background: #FFEBF3;
}

.speakers__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.organizers {
  margin-bottom: 170px;
}

.organizers-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 70px;
  -moz-column-gap: 70px;
  column-gap: 70px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 70px;
}

.organizers-header__text {
  width: 660px;
}

.organizers-header__text p {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}

.organizers-header__text p:last-child {
  margin-bottom: 0;
}

.organizers-header__title {
  width: 550px;
}

.organizers-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 70px;
  -moz-column-gap: 70px;
  column-gap: 70px;
}

.organizers-item__box {
  width: 340px;
  height: 392px;
  position: relative;
  border: 1px solid #120D0F;
  border-radius: 60px 4px 4px 4px;
}

.organizers-item__img img {
  width: 340px;
  height: 390px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 60px 4px 4px 4px;
}

.organizers-item__sign {
  border-radius: 20px 0px 3px 3px;
  background: #C0235C;
  color: #FFF;
  text-align: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
}

.organizers-item__name {
  color: #C0235C;
  font-family: Unbounded;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

.organizers-item__desc {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 282px;
}

.organizers-item__info {
  width: 440px;
}

.organizers-item._reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: -90px;
}

.organizers-item._reverse .organizers-item__box {
  margin-right: 14px;
  border-radius: 4px 50px 4px 4px;
}

.organizers-item._reverse .organizers-item__img img {
  border-radius: 4px 50px 4px 4px;
}

.organizers-item._reverse .organizers-item__sign {
  border-radius: 0px 20px 3px 3px;
  width: 100%;
  padding: 11px 0;
}

.organizers-item._reverse .organizers-item__name {
  text-align: right;
  width: unset;
}

.gallery {
  overflow: visible;
  margin-bottom: 170px;
}

.gallery__item img {
  height: 650px;
  width: auto;
  border-radius: 4px;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  will-change: transform, opacity;
}

.gallery__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 3740px;
}

.bonus {
  margin-bottom: 170px;
}

.bonus-content {
  max-height: 1716px;
  min-height: 1716px;
}

.bonus-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-column-gap: 70px;
  -moz-column-gap: 70px;
  column-gap: 70px;
  margin-bottom: 80px;
}

.bonus-header__text {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.bonus-item {
  padding-top: 40px;
  border-bottom: 1px solid #120D0F;
  height: 343px;
  overflow: hidden;
}

.bonus-item:first-child {
  border-top: 1px solid #120D0F;
}

.bonus-item__box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 40px;
}

.bonus-item__info {
  max-width: 550px;
}

.bonus-item__text {
  color: #403E3F;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 40px;
}

.bonus-item__btn {
  width: 409px;
  height: 65px;
  border-radius: 52px;
  -webkit-transition: var(--base-transition);
  transition: var(--base-transition);
  border: 1px solid #120D0F;
  background: #C0235C;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.bonus-item__btn:hover {
  background: #9F0E42;
}

.bonus-item__img {
  width: 437px;
  height: 192px;
}

.bonus-item__img img {
  width: inherit;
  height: inherit;
}

.partners {
  height: 2500px;
}