@import "./base/mixins";
@import "./base/fonts";
@import "./base/reset";
@import "./base/settings";
@import "./base/sprite";
@import "./base/vars";

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}

.page__title-h2 {
  color: var(--black-color);
  font-family: Unbounded;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (max-width: 1023px) {
    font-size: 34px;
  }

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}

.page__title-h3 {
  color: var(--black-color);
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  @media screen and (max-width: 1023px) {
    font-size: 28px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
  }

}

.page__text {
  color: var(--main-color);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @media screen and (max-width: 1349px) {
    font-size: 16px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(64, 62, 63, 0.50);
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;

  &.active {
    display: block;
  }
}

.footer {
  position: relative;

  &__social {
    display: flex;
    align-items: center;
    column-gap: 36px;
    margin-bottom: 50px;

    &-item {
      width: 46px;
      height: 46px;
      border-radius: 4px;
      background: var(--red-color);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--base-transition);

      &:hover {
        background: var(--red-hover-color);
      }
    }
  }

  &__adress {
    width: 498px;
    margin-bottom: 30px;

    address {
      color: var(--main-color);
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    a {
      color: var(--main-color);
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      transition: var(--base-transition);

      &:hover {
        color: var(--red-color);
      }
    }
  }

  &__mail {
    margin-top: 30px;

    a {
      color: var(--main-color);
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      transition: var(--base-transition);

      &:hover {
        color: var(--red-color);
      }
    }
  }

  &__legal {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 100px 0 50px;

    a {
      color: var(--main-color);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      transition: var(--base-transition);

      &:hover {
        color: var(--red-color);
      }
    }
  }

  &__copyright {
    display: flex;
    column-gap: 45px;

    a {
      color: var(--main-color);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      transition: var(--base-transition);

      &:hover {
        color: var(--red-color);
      }
    }
  }

  &__content {
    position: relative;
    height: 694px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 740px;
    height: 694px;

    .ymaps-2-1-79-inner-panes {
      border-radius: 200px 0px 0px 0px;
    }

    .ymaps-2-1-79-map {
      border-radius: 200px 0px 0px 0px;
    }

    .ymaps-2-1-79-float-button-text {
      display: none;
    }
  }

  &__line {
    height: 14px;
    background: var(--red-color);
  }
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--white-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 2px;
  border: px solid var(--red-color);
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  background: rgba(64, 62, 63, 0.50);
  backdrop-filter: blur(7px);

  &.active {
    display: block;
  }
}

.toTop {
  width: 36px;
  height: 64px;
  background: var(--light-pink-color2);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 12px;
  cursor: pointer;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 50px;
  right: 50px;
  transition: var(--base-transition);
  z-index: 18;

  &._show {
    opacity: 1;
    visibility: visible;
  }

}

.header {
  position: relative;
  z-index: 1;

  &-index {
    .header-logo {
      display: none;
    }
  }

  &-page {
    .header__menu {
      &::before {
        background-color: var(--black-color);
      }

      &::after {
        background-color: var(--black-color);
      }
    }

    .header__box {
      display: block;
    }

    .header__menu-wrap {
      display: none;
    }

    .header-content {
      position: relative;
    }

    .header__inner {
      display: flex;
      align-items: center;
      column-gap: 60px;
      position: absolute;
    }
  }

  &-content {
    position: absolute;
    z-index: 5;
  }

  &__list {
    display: flex;
    column-gap: 40px;
    padding: 23px 0;
  }

  &__text {
    display: block;
    transition: transform 0.5s ease;
  }

  &__text--hidden {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }

  &__item {
    display: flex;
  }

  &__link {
    display: inline;
    overflow: hidden;


    &:hover {
      .header__line {
        transform: translateY(-100%);
        transition-timing-function: ease-out;
        transition-duration: 0.3s;
        transition-property: transform;
      }
    }

    .header__line {
      position: relative;
      display: inline-block;
      transform: translateY(0);
      color: var(--black-color);
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &:hover {
        color: var(--red-color);
      }

      &.active {
        color: var(--red-color);
      }

      &:before {
        content: attr(data-text);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: inherit;
        user-select: none;
      }
    }
  }

  &__inner {
    &.active {
      .header__menu {
        margin-top: 0;

        &::after {
          bottom: 5px;
          transform: rotate(45deg);
          user-select: none;
          background-color: var(--black-color);
        }

        &::before {
          top: 5px;
          transform: rotate(-45deg);
          user-select: none;
          background-color: var(--black-color);
        }
      }

      .header__box {
        position: absolute;
        width: 100%;
        height: 50px;
        z-index: 25;
        background: var(--white-color);
        margin-left: -12px;
      }

      .header-content {
        z-index: 25;
        right: 0;
        top: 50px;
        width: 230px;
        height: 625px;
      }

      .header__list {
        display: flex;
        flex-direction: column;
        align-items: end;
        background: var(--white-color);
        row-gap: 20px;
        padding-right: 20px;
        height: inherit;
      }
    }
  }

  &__menu {
    position: relative;
    z-index: 10;
    display: block;
    width: 44px;
    height: 12px;
    cursor: pointer;


    &.active {
      &::after {
        bottom: 5px;
        transform: rotate(45deg);
        user-select: none;
        background-color: var(--black-color);
      }

      &::before {
        top: 5px;
        transform: rotate(-45deg);
        user-select: none;
        background-color: var(--black-color);
      }
    }

    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: var(--white-color);
      border-radius: 5px;
    }

    &::after {
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: var(--white-color);
      border-radius: 5px;
    }

    &-wrap {
      position: absolute;
      right: 20px;
      top: 5px;
      padding: 14px 3px;
      z-index: 15;
    }


  }

  &__box {
    display: none;
  }

  &-logo {
    width: 124px;
    height: 32px;
    display: block;
  }

  &-content {
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 60px;
  }
}

@media screen and (max-width: 1349px) {
  .footer {
    &__content {
      left: 20px;
    }

    &__map {
      width: 418px;
      height: 694px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {

    &-page {
      .header__inner {
        column-gap: 40px;
      }

      .header-logo {
        width: 101px;
        height: 26px;
      }
    }

    &__link {
      .header__line {
        font-size: 16px;
      }
    }

    &__list {
      column-gap: 20px;
      padding: 15px 0;
    }
  }

  .footer {
    &__content {
      height: 555px;
      max-width: 728px;
      left: 0;
    }

    &__map {
      width: 341px;
      height: 555px;
    }

    &__social {
      column-gap: 30px;
      margin-bottom: 40px;
    }

    &__adress {
      width: 354px;
      margin-bottom: 20px;

      address {
        font-size: 16px;
      }
    }

    &__phone {
      a {
        font-size: 16px;
      }
    }

    &__mail {
      margin-top: 20px;

      a {
        font-size: 16px;
      }
    }

    &__legal {
      margin: 80px 0 40px;

      a {
        font-size: 14px;
      }
    }

    &__copyright {
      column-gap: 30px;

      a {
        font-size: 14px;
      }
    }

    &__line {
      height: 3px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    z-index: 20;

    &-page {

      .header-logo {
        width: 115px;
        height: 30px;
      }

      .header__menu-wrap {
        display: unset;
        right: 0;
      }

      .header__inner {
        display: block;
        position: relative;


        &.active {
          .header__menu-wrap {
            right: 20px;
          }

          .header__box {
            margin-left: 0;
            width: calc(100% + 40px);
            left: -20px;
            display: flex;
            align-items: center;
          }

          .header-content {
            right: -20px;
          }

          .header-logo {
            margin-left: 20px;
          }
        }
      }

      .header-content {
        position: absolute;
      }

      .header__box {
        position: relative;
        background: var(--white-color);
        margin-left: 0;
        height: 50px;
        display: flex;
        align-items: center;
      }


    }

    &-content {
      background: var(--white-color);
      justify-content: flex-end;
    }


    &__list {
      display: none;
    }

    &__box {
      display: block;
    }
  }

  .footer {
    &__content {
      height: 570px;
      max-width: 100%;
      top: 30px;
      transform: translateY(-22px);
    }

    &__info {
      margin-left: 20px;
    }

    &__map {
      width: 230px;
      height: 570px;
    }

    &__social {
      column-gap: 18px;
      margin-bottom: 46px;

      &-item {
        width: 35px;
        height: 35px;
      }
    }

    &__adress {
      width: 210px;

      address {
        font-size: 14px;
      }
    }

    &__phone {
      a {
        font-size: 14px;
      }
    }

    &__mail {

      a {
        font-size: 14px;
      }
    }

    &__legal {
      margin: 90px 0 30px;
      row-gap: 8px;

      a {
        font-size: 12px;
      }
    }

    &__copyright {
      flex-direction: column;
      row-gap: 8px;

      a {
        font-size: 12px;
      }
    }

    &__line {
      height: 8px;
    }
  }

  .toTop {
    width: 20px;
    height: 34px;
    padding-top: 8px;
    bottom: 20px;
    right: 20px;
  }

  .overlay {
    overflow: hidden;
  }

  .no-scroll {
    overflow: hidden;
    padding-right: 0;
  }
}

@media screen and (max-width: 479px) {

  .header {
    &__inner {
      &.active {
        .header-content {
          width: 168px;
        }
      }
    }

    &-page {

      .header__inner {
        &.active {
          .header__box {
            width: calc(100% + 24px);
            left: -12px;
          }

          .header-content {
            right: -20px;
          }

          .header-logo {
            margin-left: 12px;
          }
        }
      }

      .header-content {
        position: absolute;
      }

      .header__box {
        position: relative;
        background: var(--white-color);
        margin-left: 0;
      }



      .header__menu-wrap {
        right: 12px;
      }
    }
  }

  .footer {
    &__content {
      height: 473px;
      max-width: 100%;
      top: 50px;
      transform: translateY(-42px);
    }

    &__info {
      margin-left: 12px;
    }

    &__map {
      width: 168px;
      height: 473px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__social {
      margin-bottom: 40px;
    }

    &__adress {
      width: 130px;

      address {
        font-size: 12px;
      }
    }

    &__phone {
      a {
        font-size: 12px;
      }
    }

    &__mail {

      a {
        font-size: 12px;
      }
    }

    &__legal {
      width: 130px;
      margin: 40px 0;

      a {
        font-size: 11px;
      }
    }

    &__copyright {
      a {
        font-size: 11px;
      }
    }
  }
}